body {
    width: 90%;
    margin: 10px auto;
}

.main {
  border: 1px solid black;
}

section {
}

.box {
    display: grid;
    grid-template-columns: 2fr;
    border: 1px solid gray;
}
.box-aside {
}

.box-contenido {
    
  &__cuerpo4 {
    text-align: center
  }
  &__dos-icon {
  }
  &__dos-img {
    border: 2px solid black;
    border-radius: 273px; 

     
  }
  &__dos-paragraph {
  }
  &__dos-subtitle {
  }
  &__dos-title {
    background-color: black;
    color: white;
    padding: 5px;
  }
  &__icon {
  }
  &__img {
    width: 100%;
    margin:auto
  }
  &__paragraph {
  }
  &__subtitle {
    font-weight: 600;
  }
  &__title {
    background-color: black;
    color: white;
    padding: 5px;
  }
}
.box-header {
}
/////////////////////////////////////////////////////////////////////////
.box2 {
    display: grid;
    border: 1px solid gray;
  &__cuerpo-img {
    width: 100%;
    margin: auto;
  }
  &__icon {
  }
  &__title {
    background-color: black;
    color: white;
    padding: 5px;
  }
}
.box2o {
  &__cuerpo-paragraph {
  }
}
.btn {
}
.burger {
}
.fa-bars {
}
.fa-times {
}
.fas {
}
.footer {
  &__nav {
  }
  &__text {
  }
}
.form {
}
.main {
}
.navbar {
  &__items {
  }
  &__logo {
  }
}
.svg3 {
  width: 100%;
  margin: auto;
 
}
.svg4 {
  display: grid;
  grid-template-columns: 1fr;
  width: 50%;
  margin: auto;
}

h2 {
  font-weight: 600;
}

/* 
.container {
    border: 1px solid #ccc;
    width: 100%;
    display: flex;
    &__caja {
      
  }
  &__imagencaja {
  }
  &__paragraph {
  }
  &__title {
  }
} */
